
@font-face {
  font-family: 'Futura-Book';
  src: url('font/Futura-Book.ttf');
  src: url('font/Futura-Book.ttf') format('truetype');
}

body {
    font-family: 'Futura-Book';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
}

/* HEADER ============================================================================== */

/* PRIMEIRA BARRA DO HEADER */

article.promo {
    color: white;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 6px 0 6px 0;
    width: 100%;
    height: 35px;
}

/* SEGUNDA BARRA DO HEADER */

article.twoCollab {
    /* background-color: green; */
    width: 100%;
    height: 34px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);    
}

article.twoCollab div.content {
    height: 100%;
    /* width: 80%; */
    /* background-color: red; */
    max-width: 1210px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgba(0, 0, 0, 0.07);
}

/* LADO ESQUERDO DA SEGUNDA BARRA DO HEADER (TWO COLLAB) */

article div.content div.left {
    height: 100%;
    /* max-width: 1097px; */
    /* margin: 0 auto; */
}

/* LADO DIREITO DA SEGUNDA BARRA DO HEADER (LOGIN E BAG) */

article div.content div.left img {
    filter: brightness(0);
    padding-top: 3px;
    height: 70%;
}

article div.content div.right {
    height: 100%;
    /* max-width: 1097px; */
    /* margin: 0 auto; */
    display: flex;
    padding-right: 18px;
    /* height: inherit; */
}

article div.content div.right div.login {
    display: flex;
    align-items: center;
    margin: 5px;
}

article div.content div.right div.login img {
    width: 16px;
    height: 12px;
    margin: 5px;
}

article div.content div.right div.bag {
    display: flex;
    align-items: center;
    margin: 5px;
}

article div.content div.right div.bag img {
    width: 20px;
    height: 19px;
    margin: 5px;
}

/* TERCEIRA BARRA O HEADER (LOGO E SEARCH) */

section.logoESearch {
    /* background-color: red; */
    width: 100%;
}

section.logoESearch div.content {
    /* display: grid;
    grid-template-columns: repeat(31, 1fr); */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 1168px;
    /* background-color: green; */
    height: 73px;
}

section.logoESearch div.content div.logo {
    /* grid-column: 13/20; */
    /* margin: 0 auto; */
    flex: 2;
    display: flex;
    justify-content: flex-end;
    width: 318px;
    min-width: 318px;
    justify-self: center;
    /* height: 100%; */
    top: 30px;
}

section.logoESearch div.content div.logo img {
    flex: 0.5;
    height: 38px;
    margin-top: 12px;
    margin-right: 45px;
}

section.logoESearch div.content form.search {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    /* grid-column: 11/13; */
    /* display: block; */
    /* justify-self: center; */
    /* margin-top: -20px; */
}

section.logoESearch div.content form.search input {
    border: solid 1px black;
    width: 190px;
    height: 34px;
    background-image: url(img/lupa.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 164px;
    background-size: 11.5%;
    background-color: #F6F6F6;
    /* justify-self: flex-end; */
}

::placeholder {
    color: black;
    opacity: 0.95;
    padding-left: 3px;
  }

/* MENU DE NACEGAÇÃO ==============================================================================*/

header nav.menu {
    width: 100%;
}

/* header nav.menu nav {
    margin: 5px auto;
} */

header nav.menu nav.mascEFem {
    /* background-color: blue; */
    justify-content: center;
    display: flex;
}

header nav.menu nav.mascEFem ul {
    /* background-color: red; */
    max-width: 1243px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

header nav.menu nav.mascEFem ul li {
    font-weight: bolder;
    background-color: #ebd7ce;
    padding: 8px 3.5%;
    text-align: center;
}

header nav.menu nav.mascEFem ul li.inativo {
    background-color: white;
    color: #a4a4a4;
}

header nav.menu nav.categorias {
    background-color: #ebd7ce;
    justify-content: space-around;
    display: flex;
    padding: 8px;
}

header nav.menu nav.categorias ul {
    /* margin: 0 auto; */
    /* background-color: red; */
    max-width: 1147px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav.menu nav ul li {
    font-size: 0.95em;
}

/* MAIN MOSAICO ============================================================================== */ 
/* FAIXA UM */

main {
    width: 100%;
    overflow: hidden;
}

main section.linhaUm {
    /* background-color: red; */
    width: 100vw;
    /* height: 50vw; */
    display: flex;
    flex-direction: row;
}

main section.linhaUm div.esquerda {
    flex: 1;
    display: grid;
    /* height: 50vw; */
    grid-template-columns: 100%;
    grid-template-rows: 101%;
}

main section.linhaUm div.esquerda div.um {
    grid-area: 1/1/2/2;
    /* background-color: pink; */
}

main section.linhaUm div.esquerda div.um img {
    width: 100%;
    height: 100%;
}

main section.linhaUm div.direita {
    /* background-color: yellow; */
    flex: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 49% 49%;
}

main section.linhaUm div.direita div.um {
    grid-area: 1/1/3/2;
    /* background-color: purple; */
}

main section.linhaUm div.direita div.dois {
    grid-area: 1/2/2/3;
    /* background-color: black; */
}

main section.linhaUm div.direita div.tres {
    grid-area: 2/2/2/3;
    /* background-color: yellow; */
}

main section.linhaUm div.direita div img {
    object-fit: cover;
    width: 100%;
}

main section.linhaUm div.direita div:nth-child(2):hover img[src="img/home/03_MOSAICO_DESK.jpg"] {
    opacity: 0.3;
    transition: .5s ease;
}

main section.linhaUm div.direita div:nth-child(2):not(:hover) img[src="img/home/03_MOSAICO_DESK.jpg"] {
    opacity: 1;
    transition: .5s ease;
}

/* FAIXA DOIS */

main section.linhaDois {
    /* background-color: red; */
    width: 100vw;
    /* height: 50vw; */
    display: flex;
    flex-direction: row;
}

main section.linhaDois div.esquerda {
    flex: 1;
    display: grid;
    /* height: 50vw; */
    grid-template-columns: 50% 50%;
    grid-template-rows: 49% 49%;
}

main section.linhaDois div.esquerda div.um {
    grid-area: 1/1/2/2;
    background-color: white;
}

main section.linhaDois div.esquerda div.dois {
    grid-area: 2/1/3/2;
}

main section.linhaDois div.esquerda div.tres {
    grid-area: 1/2/3/2;
}

main section.linhaDois div.esquerda div img {
    width: 100%;
}

main section.linhaDois div.esquerda div:nth-child(1) img {
    margin-top: 20%;
}

main section.linhaDois div.direita {
    /* background-color: yellow; */
    flex: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 101%;
}

main section.linhaDois div.direita div.um {
    grid-area: 1/1/2/2;
    /* background-color: purple; */
}

main section.linhaDois div.direita div img {
    object-fit: cover;
    width: 100%;
}

/* FAIXA TRES */

main section.linhaTres {
    /* background-color: orange; */
    width: 100vw;
    /* height: 50vw; */
    display: flex;
    flex-direction: row;
}

main section.linhaTres div.esquerda {
    flex: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 101%;
}

main section.linhaTres div.esquerda div.um {
    grid-area: 1/1/2/2;
}

main section.linhaTres div.esquerda div img {
    object-fit: cover;
    width: 100%;
}

main section.linhaTres div.direita {
    flex: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 49% 49%;
}

main section.linhaTres div.direita div.um {
    grid-area: 1/1/3/2;
}

main section.linhaTres div.direita div.dois {
    grid-area: 1/2/2/3;
}

main section.linhaTres div.direita div.tres {
    grid-area: 2/2/3/3;
}

main section.linhaTres div.direita div img {
    object-fit: cover;
    width: 100%;
}

.logo-responsivo {
    display: none;
}

@media(max-width:770px){
    article.promo {
        height: auto;
    }

    article.twoCollab div.content {
        display: none;
    }

    .twoCollab{
        display: none;
    }

    section.logoESearch div.content{
        justify-content: center;
    }

    section.logoESearch div.content form.search{
        display: none;
    }

    .logo-responsivo {
        display: block;
        width: 100%;
    }

    section.logoESearch div.content div.logo {
        display: none;
        /* width: 50%;
        flex: 0;
        justify-content: center;
        min-width: 80% */
    }

    section.logoESearch div.content div.logo img{
        margin-top: 0px;
        margin-right: 0px;
        flex: 0;
        width: 80%;
    }

    header nav.menu{
        display: none;
    }

    .responsive{
        width: 12.5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-responsive{
        height: 22px;
        width: 22px;
    }

    main section.linhaTres, main section.linhaDois, main section.linhaUm {
        flex-direction: column;
    }
}